<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PROFILE || DATA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css" />

</head>
<body>

    <div class="container">
            <div class="card">
                <div class="card-content">

                        <div class="container">

                                <div class="card">
                                    <h5 class="p-3">YOU ARE SUCCESSFULLY REGISTERED {{user.name}}.....</h5>
                                        <div class="card-content">
                                            <h4>NAME:{{user.name}}</h4>
                                            <h4>PASSWORD:{{user.password}}</h3>
                                            <h4>EMAIL:{{user.email}}</h4>
                                            <h4>PHONE NUMBER :{{user.phn}}</h4>
                                        </div>

                                        {{>footer}}

                                </div>
                       
                        </div>

                </div>
            </div>

    </div>
    
</body>
</html>